---
import Layout from '@/components/layouts/base.astro'
import { DashboardLayout } from '@/components/layouts/dashboard-layout'
import { UpdateStackForm } from '@/components/organisms/form/update/stack'
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/breadcrumb'
import { ENV } from '@/constants/env'
import { getProjectsByAssociatedStack } from '@/services/project/getProjectsByAssociatedStack'
import { getProjectsByNotAssociatedStack } from '@/services/project/getProjectsByNotAssociatedStack'
import { getAllStack } from '@/services/stack/getAllStack'
import { getStackById } from '@/services/stack/getStackById'
import { UpdateProjectsRelatedToStack } from '@/components/organisms/form/relationship/update-projects-related-to-stack'

export async function getStaticPaths() {
  const stacks = await getAllStack()

  const paths = stacks.map(stack => ({
    params: { id: stack.id },
    props: stack
  }))

  return paths
}

let stack
if (ENV.isServerSideEnable) {
  stack = await getStackById({ id: Number(Astro.params.id) })
} else {
  stack = Astro.props
}

if (!stack) {
  return {
    status: 404,
    error: new Error('Stack not found')
  }
}

const associatedProjects = await getProjectsByAssociatedStack({
  idStack: stack.id
})
const availableProjects = await getProjectsByNotAssociatedStack({
  idStack: stack.id
})
---

<Layout title={`Editar stack ${stack.name}`}>
  <DashboardLayout
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/projects/edit']}
    client:load
  >
    <main class="w-full h-full flex flex-col pt-7 pl-7 container mx-auto gap-5">
      <h1 class="text-4xl font-medium">Editar Stack</h1>
      <UpdateStackForm
        currentStack={stack}
        disableForm={ENV.isServerSideEnable === false}
        client:load
      />
      <div class="mt-10">
        <h2 class="text-3xl font-medium">Relaciones</h2>
        <div class="mx-5 mt-5">
          <h3 class="text-3xl font-medium">Proyectos</h3>
          <UpdateProjectsRelatedToStack
            currentStack={stack}
            availableProject={availableProjects}
            associatedProjects={associatedProjects}
            client:load
          />
        </div>
      </div>
    </main>
  </DashboardLayout>
</Layout>
