---
import type { GetStaticPaths } from 'astro';

import Layout from '@/components/template/base.astro';
import { DashboardLayout } from '@/components/template/dashboard-layout';
import { UpdateStackForm } from '@/components/organisms/form/update/stack';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
import { ENV } from '@/constants/env';
import { getProjectsByAssociatedStack } from '@/services/project/getProjectsByAssociatedStack';
import { getProjectsByNotAssociatedStack } from '@/services/project/getProjectsByNotAssociatedStack';
import { getAllStack } from '@/services/stack/getAllStack';
import { getStackById } from '@/services/stack/getStackById';
import { UpdateProjectsRelatedToStack } from '@/components/organisms/form/relationship/update-projects-related-to-stack';

// MARK: - Static paths
export const getStaticPaths = (async () => {
  const stacks = await getAllStack();

  const paths = stacks.map((stack) => ({
    params: { id: stack.id },
    props: stack,
  }));

  return paths;
}) satisfies GetStaticPaths;

// MARK: - Fetching stack data
let stack;

if (ENV.isServerSideEnable) {
  stack = await getStackById({ id: Number(Astro.params.id) });
} else {
  stack = Astro.props;
}

if (!stack) {
  return {
    status: 404,
    error: new Error('Stack not found'),
  };
}

// MARK: - Fetching associated data
const associatedProjects = await getProjectsByAssociatedStack({
  idStack: stack.id,
});
const availableProjects = await getProjectsByNotAssociatedStack({
  idStack: stack.id,
});
---

<Layout title={`Editar stack ${stack.name}`}>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/project/edit']}
  >
    <main class='container mx-auto flex size-full flex-col gap-5 pt-7 pl-7'>
      <h1 class='text-4xl font-medium'>Editar Stack</h1>
      <UpdateStackForm client:load currentStack={stack} />
      <div class='mt-10'>
        <h2 class='text-3xl font-medium'>Relaciones</h2>
        <div class='mx-5 mt-5'>
          <h3 class='text-3xl font-medium'>Proyectos</h3>
          <UpdateProjectsRelatedToStack
            client:load
            associatedProjects={associatedProjects}
            availableProject={availableProjects}
            currentStack={stack}
          />
        </div>
      </div>
    </main>
  </DashboardLayout>
</Layout>
