---
import SubTitle from "../../components/text/SubTitle.astro";
import Title from "../../components/text/Title.astro";
import { fetchProjects } from "../../services/services.ts";
import {type Project} from "../../types/index";

const projects:[string, Project][] = fetchProjects();
---

<section id="projects">
  <Title>Proyectos</Title>
  <div id="Controllers">
    <ul>
      <li>
        <SubTitle>Front End</SubTitle>
      </li>
      <li>
        <SubTitle>Back End</SubTitle>
      </li>
      <li>
        <SubTitle>Fullstack</SubTitle>
      </li>
    </ul>
  </div>
  <section>
    {
      projects.map((project) => (
        <article>
          <a href={`/projects/${project[0]}`} aria-label={`Conocer ${project[0]}`}>
            <img src={project[1].iconURL} alt={project[0]} transition:name={`${project[0]} icon project`}>
          </a>
        </article>
      ))
    }
  </section>
</section>
<style>
  section#projects {
    > h1{
    text-align: center;
    }
    > div#Controllers{
      user-select: none;
      > ul{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 30rem;
        margin: 1.5rem auto 0;
        justify-content: space-evenly;
        > li{
          padding: .5rem .7rem;
          border-radius: .8rem;
          font-size: 1.6rem;
          line-height: 1;
          filter: brightness(0.8);
          cursor: pointer;
          transition: background-color .2s ease-in-out;
          > h2{
            font-weight: 400;
            font-size: 1.7rem;
          }
          &#active{
            outline: 1px solid black;
          }
          &:hover{
            background-color: rgba(212, 212, 212, 0.473);
          }
        }
      }
    }
    > section{
      display: grid;
      justify-content: center;
      margin: 0 auto;
      max-width: calc((15rem + 2rem) * 4); /* max width of 4 items with 2rem of gap */
      grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
      grid-template-rows: repeat(auto-fit, minmax(10rem, auto));
      gap: 2rem;
      padding: 4rem 0;
      > article{
        > a {
          > img{
            width: 100%;
            border-radius: 2.6rem;
            object-fit: cover;
            aspect-ratio: 1 / 1;
          }
        }
        transition: transform .2s ease-in-out;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
</style>