---
import { fetchProjects } from "../../services/services.ts";
import {type Project} from "../../types/index.ts";

const projects:[string, Project][] = fetchProjects();
---

<section id="projects">
  <div id="Controllers">
    <h2>Proyectos</h2>
    <ul>
      <li>Front End</li>
      <li>Back End</li>
      <li>Fullstack</li>
    </ul>
  </div>
  <section>
    {
      projects.map((project) => (
        <article>
          <a href={`/project/${project[0]}`} aria-label={`Conocer ${project[0]}`}>
            <img src={project[1].iconURL} alt={project[0]} transition:name={`${project[0]} icon project`}>
          </a>
        </article>
      ))
    }
  </section>
</section>
<style>
  section#projects {
    padding: 5rem 0 10rem;
    > div#Controllers{
      user-select: none;
      > h2{
        font-size: 3rem;
        font-weight: 700;
        text-decoration: underline;
        text-align: center;
        text-underline-offset: 4px;
        margin-bottom: 2rem;
      }
      > ul{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 30rem;
        margin: 0 auto;
        justify-content: space-evenly;
        > li{
          padding: .5rem .7rem;
          border-radius: .8rem;
          font-size: 1.6rem;
          line-height: 1;
          filter: brightness(0.8);
          cursor: pointer;
          transition: background-color .2s ease-in-out;
          &#active{
            outline: 1px solid black;
          }
          &:hover{
            background-color: rgba(212, 212, 212, 0.473);
          }
        }
      }
    }
    > section{
      display: grid;
      justify-content: center;
      margin: 0 auto;
      max-width: calc((15rem + 2rem) * 4); /* max width of 4 items with 2rem of gap */
      grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
      grid-template-rows: repeat(auto-fit, minmax(10rem, auto));
      gap: 2rem;
      padding: 4rem 0;
      > article{
        > a {
          > img{
            width: 100%;
            border-radius: 2.6rem;
            object-fit: cover;
            aspect-ratio: 1 / 1;
          }
        }
        transition: transform .2s ease-in-out;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
</style>