---
import "../../styles/global.css";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="description" content={description} />
<meta
  name="keywords"
  content="
      'Código abierto',
      'Programador',
      'Herramientas',
      'Desarrollo Web',
      'Desarrollador Web',
      'Soluciones web'
      'Front End',
      'JavaScript',
      'TypeScript',
      'CSS',
      'React',
      'Next.js',
      'Tailwind',
      'SASS'"
/>
<link rel="manifest" href="https://jorgepeniaranda.me/manifest.json" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://jorgepeniaranda.me/" />
<meta name="generator" content={Astro.generator} />
<meta name="category" content="Desarrollador Web" />
<meta name="classification" content="Desarrollador Web" />
<meta name="color-scheme" content="light" />
<meta name="creator" content="Jorge Peñaranda" />
<meta name="format-detection" content="telephone=no" />
<meta name="publisher" content="GitHub Pages" />
<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content="#bf5454"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://jorgepeniaranda.me" />
<meta property="og:site_name" content={title} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content="https://jorgepeniaranda.me/assets/img/Logo-512x512.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="https://jorgepeniaranda.me/" />
<meta name="twitter:creator" content="@peniarandajorge" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta
  name="twitter:image"
  content="https://jorgepeniaranda.me/assets/img/Logo-512x512.png"
/>
