---
import Layout from '../../../components/layouts/base.astro'
import { ProjectAccordion } from '../../../components/organisms/accordion/project-accordion'
import {
  Breadcrumb,
  type IBreadCrumb
} from '../../../components/organisms/breadcrumb'
import { ProjectDetailsStyles } from '../../../constants/styles'
import {
  PROJECT_STACK_TRANSCRIPTIONS,
  PROJECT_STATUS_TRANSCRIPTIONS
} from '../../../constants/transcriptions'
import { fromArrayStringToArrayObjectWithIdAndValue } from '../../../mappers/common/fromArrayStringToArrayObjectWithIdAndValue'
import { getAllProjectsWithStackAndCollaborators } from '../../../services/project/getAllProjectsWithStackAndCollaborators'

export async function getStaticPaths() {
  const projects = await getAllProjectsWithStackAndCollaborators()

  // Map the projects to add the goals and contributions as an array of objects
  const mappedProjects = projects.map(project => ({
    ...project,
    goals: fromArrayStringToArrayObjectWithIdAndValue(project.goals),
    contributions: fromArrayStringToArrayObjectWithIdAndValue(
      project.contributions
    )
  }))

  const paths = mappedProjects.map(project => ({
    params: { key: project.key },
    props: project
  }))

  return paths
}

const project = Astro.props

const { StackStyle, StatusStyle } = ProjectDetailsStyles

const BreadCrumbItems: IBreadCrumb[] = [
  {
    label: 'Proyectos',
    href: '/projects'
  },
  {
    label: project.name
  }
]
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark'
  }}
  title={project.name}
>
  <div class="py-14 px-16 space-y-4">
    <header>
      <Breadcrumb items={BreadCrumbItems} />
    </header>
    <main class="flex text-black dark:text-white h-full">
      <section class="flex-1 flex flex-col h-full">
        <article>
          <h1
            class="scroll-m-20 text-5xl font-extrabold tracking-tight"
            transition:name={`${project.key} Title`}
          >
            {project.name}
          </h1>
          <div class="flex gap-2 items-center font-light text-lg my-2">
            <h2
              class="leading-none font-medium"
              class:list={StatusStyle[project.status]}
            >
              {PROJECT_STATUS_TRANSCRIPTIONS[project.status]}
            </h2>
            <small class="leading-none p-1 rounded-md text-base"
              >2021 - Actualidad</small
            >
            <h3
              class="leading-none font-medium rounded-md p-1 text-base"
              class:list={[StackStyle[project.stack]]}
            >
              {PROJECT_STACK_TRANSCRIPTIONS[project.stack]}
            </h3>
          </div>
          <p class="text-pretty">
            {project.description}
          </p>
        </article>
        <article class="mt-5 flex-1">
          <ProjectAccordion
            collaborators={project.collaborators}
            goals={project.goals}
            contributions={project.contributions}
            demoUrl={project.demoUrl}
            githubUrl={project.githubUrl}
            techStack={project.techStacks}
            client:load
          />
        </article>
      </section>
      <section class="flex flex-1 relative justify-center items-center">
        <article class="sticky top-0 justify-center items-center flex">
          En Proceso...
        </article>
      </section>
    </main>
  </div>
</Layout>
