---
import axios from 'axios'
import Layout from '../../components/layouts/base.astro'
import { ProjectCard } from '../../components/molecules/cards/project-card'
import { ENV } from '../../constants/env'
import { PERSONAL_ACCOUNTS } from '../../constants/external'
import type { IProject } from '../../types/project'

const Projects: IProject[] = await axios
  .get<IProject[]>(`${ENV.base_url}/api/projects/sort-all.json`)
  .then(response => response.data)
  .catch(() => {
    return [] as IProject[]
  })
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark'
  }}
  title="Proyectos"
>
  <main class="w-full h-full py-10 space-y-10 container">
    <!-- <section class="flex flex-col items-center gap-6">
      <article class="w-max flex flex-col text-center items-center">
        <h1 class="sr-only">Proyectos de Jorge Peñaranda</h1>
      </article>
    </section> -->
    <section class="flex gap-6 h-full justify-center">
      {
        Projects.map(project => (
          <ProjectCard
            key={project.key}
            name={project.name}
            logoURL={project.logoURL}
            primaryColor={project.primaryColor}
            client:load
          />
        ))
      }
    </section>
  </main>
</Layout>
